# Essential build tools
setuptools>=42
wheel
# Optional: pip upgrade
pip>=23.2

# Your dependencies
streamlit==1.35.0
streamlit-webrtc==0.47.0
speechrecognition==3.10.1
pyttsx3==2.90
numpy==1.24.4
av==10.0.0
pyarrow>=1.0
langchain==0.2.0
langchain-community==0.2.0
pydub
langchain-ollama
soundfile
PyAudio
